:root {
  /* --backgrounds: #330513; */
  --backgrounds: #f8e6eb;
  --dark-red: #66142d;
  --dark-pink: #992e4e;
  --pink: #cc5276;
  --light-pink: #ff80a6;
  --green: #4caf50; /* Green color some times for headers */
  /* Primary: Brass Knuckle */
  --primary-100: #fdfff2;
  --primary-200: #f6febc; /* for buttons and icons background*/
  --primary-300: #eef682;
  --primary-400: #e0e148;
  --primary-500: #b8af14; /* for inline and important buttons background, icons color */
  --primary-600: #938407;
  --primary-700: #6f5d02; /* for text of less important inline buttons */
  --primary-800: #4b3a00; /* for text  of buttons and icons, for text of h4 or h3 */
  --primary-900: #261b00; /* for text of inline and important buttons */

  /* Accent: Limonana */
  --accent-100: #f2fffb;
  --accent-200: #bcfee5;
  --accent-300: #83f9c6;
  --accent-400: #4aec9c;
  --accent-500: #15d16a;
  --accent-600: #07a645;
  --accent-700: #027c2a;
  --accent-800: #005116;
  --accent-900: #002608;

  /* Neutral */
  --neutral-100: #fcfcfa; /* for less important inline buttons background */
  --neutral-200: #ecede9;
  --neutral-300: #dddcd8;
  --neutral-400: #cdccc8;
  --neutral-500: #bdbcb7;
  --neutral-600: #979590; /* another paragraph text color */
  --neutral-700: #716f6a; /* paragraph text color */
  --neutral-800: #4c4a46;
  --neutral-900: #262522; /* headers text color*/

  --16px: 1rem;
  --24px: 1.5rem;
  --32px: 2rem;
  --300px: 18.75rem;

  /* using scss */
  /* 
  @function rem($pixel) {
    @if math.is-unitless($pixel) {
      @return math.div($pixel, 16) + rem;
    } else {
      @error 'Don\'t use units when using the rem function; only numbers.';
    }
  }
  */

}

a {
  text-decoration: none;
}

body {
  background-color: var(--neutral-100);
  color: var(--neutral-800);
}
