.footer {
  background-color: var(
    --backgrounds
  ); /* Same background color as the header */
  color: var(--light-pink); /* Text color */
  padding: 1.5rem 2rem;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1.5rem;
  margin: 0;
}

.social-links li a {
  color: var(--pink); /* Icon color */
  font-size: 1.8rem; /* Icon size */
  transition:
    color 0.3s ease,
    transform 0.3s ease;
}

.social-links li a:hover {
  color: var(--light-pink); /* Hover color */
  transform: translateY(-2px);
}
