footer {
  background-color: var(--backgrounds);
  color: var(--dark-pink);
  padding: 1rem 2rem;
  text-align: center;
  border-top: 2px solid var(--dark-red); /* Top border for separation */
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.footer-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  color: var(--dark-pink);
  transition: color 0.3s;
}

.footer-icon:hover {
  color: var(--pink);
}
